@page "/demo/index"

<h4>@Title</h4>

<button class="btn btn-danger" @onclick="UpdateTitle">Update Title</button>

@code {
    private string Title { get; set; }

    protected override Task OnInitializedAsync()
    {
        Title = "Hello World";
        return base.OnInitializedAsync();
    }

    private async Task UpdateTitle()
    {
        await Task.Run(() => {

            Title = "Hello Blazor";

        });
    }
}
